.author_template {
    margin: 10px;
}


/* Frontend Resource Display */

div#resources_display {
    margin-left: 300px;
    margin-right: 300px;
}

/*div.resource:hover {
    background-color: #D3E7ED;
}*/

div.resource_info {
    float: left;
}

div.url {
    float: left;
}

div.clear {
    clear: both;
}


/*** Keywords ***/

.tags-text {
    float: left;
    margin-right: 10px;
}

.tags-list {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.tags-list li {
  float: left;
}

.tag {
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height:26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: #6197ED;
  color: white;
}

.tag:hover::after {
  border-left-color: #6197ED;
}


/* Pagination */

.pagination {
    margin-top: 10px;
}

.pagination_left {
    float: left;
}

.pagination_right {
    float: right;
}

.pagination_center {
     margin-left: 100px;
}

.first_page {
    margin-right: 10px;
}

.last_page {
    margin-left: 10px;
}

.rpp_select {
    margin-left: 20px;
}

/* Footer */

#footer {  
    bottom:0;    
    width:100%;
    
    /* Height of footer */
    height:30px;  
    
    background: rgba(78, 71, 83, 0.6);
    text-align: center;
    color: white;
}


/* Description Tooltip */

a.tooltip {outline:none; }
a.tooltip strong {line-height:30px;}
a.tooltip:hover {text-decoration:none;} 
a.tooltip span {
    z-index:10;display:none; padding:14px 20px;
    margin-top:60px; margin-left:-160px;
    width:300px; line-height:16px;
}
a.tooltip:hover span{
    display:inline; position:absolute; 
    border:2px solid #FFF;  color:#EEE;
    background:#333 url(../img/css-tooltip-gradient-bg.png) repeat-x 0 0;
}
.callout {z-index:20;position:absolute;border:0;top:-14px;left:120px;}

a.tooltip span
{
    border-radius:2px;        
    box-shadow: 0px 0px 8px 4px #666;
    opacity: 0.8;
}